body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  color: var(--text-color);
}

.card {
  padding: 24px;
  border-radius: var(--radius);
  box-shadow: 0 0 10px black;
}

.radius {
  border-radius: var(--radius);
}

.active-item {
  background-color: var(--premium);
  color: var(--primary);
  border-radius: var(--radius);
  box-shadow: 0 0 30px var(--premium);
}

.text-primary {
  color: var(--primary);
}

.btn {
  font-weight: 500;
  border: 0;
  cursor: pointer;
  border-radius: var(--radius);
  padding: 8px 16px;
  transition: background-color 0.4s;
}

.btn-danger {
  background-color: var(--danger);
  color: white;
}

.btn-info {
  background-color: var(--info);
  color: white;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--dark);
}

.btn-outline-primary {
  color: var(--primary);
  background-color: white;
  border: 2px solid var(--primary);
}

.btn-outline-primary:hover {
  background-color: var(--primary);
  color: white;
}

.btn-premium {
  background-color: var(--premium);
  color: black;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-premium:hover {
  box-shadow: 0 0 8px var(--premium);
}

input, textarea {
  background-color: var(--primary);
  border: none;
  box-shadow: 0 0 5px black;
  font-family: var(--font-family);
  color: white;
  border-radius: 6px;
  padding: 12px;
}

.active-link {
  background-color: var(--premium);
  border-radius: var(--radius);
  color: var(--primary);
  box-shadow: 0 0 10px var(--premium);
}

.error {
  color: var(--danger);
  font-size: 12px;
  font-weight: 500;
}

button[disabled] {
  opacity: 0.5;
}
