:root {
  --font-family: "Montserrat", sans-serif;
  --text-color: #f5f5f5;
  --gray-100: #dfe6e9;
  --gray-700: #2c3a47;
  --light: #e9d5ff;
  --primary: #1c1917;
  --premium: #ff6b35;
  --call-to-action: #c40000;
  --border-color: #b0b3b8;
  --success: #22c55e;
  --danger: #dc2626;
  --info: #2294c9;

  --border: 1px solid var(--gray-100);
  --radius: 24px;
}
